{{>header.layout}}
{{>navbar.layout}}

<section class="container my-5">
{{#if editFinished}} 
{{#if editStatus}}   
<div class="alert alert-success alert-dismissible fade show text-center m-auto w-50 my-5" role="alert">
  <strong>Awesome!</strong> Edit has been done successfully!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{else}}
    <div class="alert alert-danger alert-dismissible fade show text-center m-auto w-50 my-5" role="alert">
  <strong>Ops</strong> Failed to edit this task!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{/if}}
    {{#if status}}
    <div class="alert alert-secondary">
        <ul>
        <li>{{myData.title}}</li>
        <li>{{myData.content}}</li>
        <li>{{myData.status}}</li>

        </ul>
    </div>
    
    {{else}}
        <div class="alert alert-danger">
            no data found
        </div>
    {{/if}}
</section>
{{>footer.layout}}